
body {
    background: skyblue;
}
body {
    background-color: skyblue;
}



a{
    color: white;
    text-decoration: none;
}
div#menu_container{
    text-align: center;
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

.bubble {
    width: 133px;
    height: 100px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    background-color: rgba(0, 39, 219, 0.3);

}

div#menu{
    position: absolute;
    left: 440px;
    top: 10px
}
div#boka{
    position: absolute;
    top: 150px;
    left: 220px
}

div#logo{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 400px;
    top: 130px;
}
div#hitta{
    position: absolute;
    top: 150px;
    right: 220px;
}
div#info_oss{
    position: absolute;
    top: 350px;
    left: 250px;
}

div#info_tranor{
    position: absolute;
    top: 350px;
    right: 250px;
}


div#title{
    width: 300px;
    position: absolute;
    bottom: 30px;
    left: 350px;
}

.bubbl {
    width: 266px;
    height: 200px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    line-height: 200px;
    text-align: center;
    background-color: rgba(0, 39, 219, 0.3);
    margin-top: 25px;
}

div#navigation{
    width: 267px;
    height: 201px;
    margin-left: auto;
    margin-right: auto;

}

div#logo_mobil{

    margin-left: auto;
    margin-right: auto;
}

img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h1.center{
    text-align: center;
}