div#navigation {
    width: 200px;
    height: 100%;
    background-color: rgba(10, 27, 121, 0.5);;
    position: absolute;
    top: 0%;
    right: 0%;

}

body {
    background-color: #0678be;
}

div#map{
    margin-left: 20px;
    width: 500px;
    height: 400px;
    position: absolute;
    top: 4%;
    left: 2.5%;
}

div#description{

    width: 500px;
    height: 400px;
    background-color: darkgray;
    position: absolute;
    top: 4%;
    left:40%;

}

div#panorama_container{
    height: 214px;
    width: 1024px;
    position: absolute;
    top: 65%;
    left: 3.7%;
}


p{
    margin-left: 5%;
    margin-right: 1%;
    font-size: 30px;
}


.bubbl {
    width: 133px;
    height: 100px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    background-color: #064771;
    margin-left: 17%;
    margin-top: 25px;
}

a{
    color: white;
    text-decoration: none;
}

img{
    width: 1050px;
}