div#info {
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 72px;
    margin-left: 25%;
    border-radius: 20px;
    padding: 5px 20px 15px 20px;
}

body {
    background-image: url("../images/tranfagel.jpg");
    background-size: 100%;
}

div#navigation {
    width: 200px;
    height: 100%;
    border: 3px solid black;
    position: absolute;
    top: 0px;
    right: 0px;

}