div#info {
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 72px;
    margin-left: 10%;
    border-radius: 20px;
    padding: 5px 20px 15px 20px;
    color: #ffffff;
    float: left;
}

body#info2 {
    background-color: #0678be;
}

body#info3 {
    background-color: #0678be;
}

div#navigation {
    width: 200px;
    height: 100%;
    background-color: rgba(10, 27, 121, 0.5);;
    position: absolute;
    top: 0px;
    right: 0px;

}

div#infopic_container{


}

.bubbl {
    width: 133px;
    height: 100px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    background-color: #064771;
    margin-left: 17%;
    margin-top: 25px;
}
a{
    color: white;
    text-decoration: none;
}
img{
    width: 400px;
    height: 250px;
    margin-left: 10%;
    margin-top: 15%;

}